/* color palette from https://www.color-hex.com/color-palettes */
:root {
	--darkest-color: #3b3b3b;
	--lightest-color: #eaf6de;
	--highlight-color: #3b3b3b;
	--bright-color-1: #fafafa;
	--bright-color-2: #76c47a;
	--bright-color-3: #7fff7f;
}

body {
	background-image: url("http://escoladerobo.com/images/bg_quadro.png");
	background-size: cover;
	color: var(--lightest-color);
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.circle-shape {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.profile-pic {
	display: inline;
	margin: 20px;
	height: 100%;
	width: 30%;
}

a {
	color: var(--lightest-color);
	text-decoration: none;
}

.ig-link {
	margin: 10px 0;
	font-weight: bold;
}

.link-button {
	border: 1px solid var(--lightest-color);
	box-sizing: border-box;
	color: var(--darkest-color);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 2px;
	margin: 20px 8px 0px 8px;
	display: inline-block;
	max-width: 250px;
	width: 45%;
}

.link-list-item {
	border: 1px solid var(--lightest-color);
	box-sizing: border-box;
	margin: 20px auto;
	color: var(--darkest-color);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 2px;
}

.link-list-item:hover,
a:hover {
	color: var(--highlight-color);
	border-color: var(--highlight-color);
	text-shadow: 0 0 2em var(--highlight-color);
}

.icon-list-img {
	height: 50px;
	width: 50px;
	margin: 3px;
}

.dark {
	background: var(--bright-color-1);
}

.medium {
	background: var(--bright-color-2);
}

.light {
	background: var(--bright-color-3);
}
